body {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 20px;
}

.App {
    margin: 80px auto;
    padding: 50px;
    text-align: center;
    width: 900px;
    height: 500px;
    font-size: 1.2rem;
    background-color: #2f2519;
    box-shadow: 8px 2px black;
    border-radius: 10px;
}

header {
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;
    color: aliceblue;
}

form {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 30px;
}

input[type=text] {
    height: 40px;
    margin-right: 10px;
    font-size: 1.5rem;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    background-color: #fa7d09;
    box-shadow: 8px 2px black;
}

input[type=text]:focus,
input[type=text]:hover {
    border: 3px solid black;
    box-shadow: none;
}

input[type=submit] {
    height: 40px;
    font-size: 1.2rem;
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #fa7d09;
    box-shadow: 5px 2px white;
}

input[type=submit]:hover {
    border: 3px solid white;
    box-shadow: none;
}